types-setuptools==80.9.0.20250822
pip==24.1.2
setuptools==75.2.0
requirements-parser==0.9.0
google-colab==1.0.0
grpclib==0.4.8
triton==3.4.0
ipython-sql==0.5.0
orjson==3.11.3
Markdown==3.9
tinycss2==1.4.0
google-cloud-aiplatform==1.121.0
libcudf-cu12==25.6.0
pyzmq==26.2.1
mdit-py-plugins==0.5.0
tabulate==0.9.0
jupyterlab_widgets==3.0.15
python-louvain==0.16
langcodes==3.5.0
cryptography==43.0.3
sortedcontainers==2.4.0
weasel==0.4.1
nvidia-cusparselt-cu12==0.7.1
google-cloud-storage==2.19.0
nvidia-cuda-runtime-cu12==12.6.77
jaxlib==0.7.2
backcall==0.2.0
bigframes==2.26.0
kagglehub==0.3.13
websocket-client==1.9.0
hyperframe==6.1.0
typing-inspection==0.4.2
html5lib==1.1
simple-parsing==0.1.7
groovy==0.1.2
anywidget==0.9.18
graphviz==0.21
tf_keras==2.19.0
alembic==1.17.0
omegaconf==2.3.0
opentelemetry-exporter-otlp-proto-http==1.37.0
yarl==1.22.0
jsonpickle==4.1.1
tables==3.10.2
gitdb==4.0.12
google-crc32c==1.7.1
lazy_loader==0.4
ndindex==1.10.0
python-multipart==0.0.20
geemap==0.35.3
h5py==3.15.1
argon2-cffi==25.1.0
contourpy==1.3.3
humanize==4.14.0
frozendict==2.4.6
importlib_metadata==8.7.0
ipython-genutils==0.2.0
xarray==2025.10.1
keras==3.10.0
threadpoolctl==3.6.0
sphinxcontrib-htmlhelp==2.1.0
moviepy==1.0.3
firebase-admin==6.9.0
rfc3339-validator==0.1.4
jaraco.classes==3.4.0
pydantic==2.11.10
jaraco.functools==4.3.0
absl-py==1.4.0
google-cloud-spanner==3.58.0
libucx-cu12==1.18.1
stumpy==1.13.0
colour==0.1.5
ipyleaflet==0.20.0
geographiclib==2.1
tbb==2022.2.0
jiter==0.11.1
libclang==18.1.1
jupyter_server==2.14.0
imutils==0.5.4
scs==3.2.9
tensorboard==2.19.0
ipykernel==6.17.1
hf_transfer==0.1.9
zipp==3.23.0
missingno==0.5.2
psygnal==0.15.0
nvtx==0.2.13
plum-dispatch==2.5.8
distro==1.9.0
Farama-Notifications==0.0.4
scipy==1.16.2
tensorflow_decision_forests==1.12.0
eerepr==0.1.2
cuml-cu12==25.6.0
raft-dask-cu12==25.6.0
bleach==6.2.0
google-cloud-monitoring==2.28.0
branca==0.8.2
murmurhash==1.0.13
sentry-sdk==2.42.1
glob2==0.7
nvidia-cufft-cu12==11.3.0.4
kiwisolver==1.4.9
google-cloud-appengine-logging==1.7.0
xyzservices==2025.4.0
pycparser==2.23
jax-cuda12-pjrt==0.7.2
rapids-dask-dependency==25.6.0
googleapis-common-protos==1.71.0
jupyter_client==7.4.9
platformdirs==4.5.0
docutils==0.21.2
librmm-cu12==25.6.0
music21==9.3.0
httpx==0.28.1
tblib==3.1.0
tensorstore==0.1.78
aiohappyeyeballs==2.6.1
promise==2.3
locket==1.0.0
annotated-types==0.7.0
charset-normalizer==3.4.4
Cython==3.0.12
click==8.3.0
param==2.2.1
etils==1.13.0
pytest==8.4.2
iniconfig==2.3.0
fastcore==1.8.13
traitlets==5.7.1
torchao==0.10.0
google-cloud-bigquery-storage==2.33.1
nvidia-cuda-nvcc-cu12==12.5.82
jsonpatch==1.33
blobfile==3.1.0
google-auth==2.38.0
preshed==3.0.10
nvidia-cuda-nvrtc-cu12==12.6.77
pyviz_comms==3.0.6
statsmodels==0.14.5
geocoder==1.38.1
imbalanced-learn==0.14.0
fastrlock==0.8.3
distributed-ucxx-cu12==0.44.0
pandas-gbq==0.29.2
nvidia-nccl-cu12==2.27.3
sphinxcontrib-devhelp==2.0.0
treescope==0.1.10
llvmlite==0.43.0
requests-toolbelt==1.0.0
psutil==5.9.5
tensorflow-probability==0.25.0
cuvs-cu12==25.6.1
numexpr==2.14.1
google==2.0.3
beautifulsoup4==4.13.5
notebook_shim==0.2.4
xxhash==3.6.0
datasets==4.0.0
google-auth-oauthlib==1.2.2
scooby==0.10.2
et_xmlfile==2.0.0
pynndescent==0.5.13
anyio==4.11.0
confection==0.1.5
nvidia-cusparse-cu12==12.5.4.2
libpysal==4.13.0
tensorflow-text==2.19.0
tokenizers==0.22.1
httpcore==1.0.9
wandb==0.22.2
nvidia-cublas-cu12==12.6.4.1
tzdata==2025.2
lightgbm==4.6.0
multitasking==0.0.12
jupytext==1.17.3
stanio==0.5.1
array_record==0.8.1
astropy-iers-data==0.2025.10.20.0.39.8
google-cloud-resource-manager==1.15.0
tweepy==4.16.0
typing_extensions==4.15.0
clarabel==0.11.1
pycairo==1.28.0
intel-cmplr-lib-ur==2025.2.1
colorlover==0.3.0
google-resumable-media==2.7.2
nvidia-nvjitlink-cu12==12.6.85
smart_open==7.4.0
hpack==4.1.0
webencodings==0.5.1
ffmpy==0.6.3
traittypes==0.2.1
cudf-cu12==25.6.0
py-cpuinfo==9.0.0
cloudpickle==3.1.1
more-itertools==10.8.0
inflect==7.5.0
editdistance==0.8.1
jupyter_core==5.9.1
google-cloud-speech==2.34.0
uri-template==1.3.0
google-cloud-firestore==2.21.0
mcp==1.18.0
prometheus_client==0.23.1
pydub==0.25.1
ucx-py-cu12==0.44.0
pyshp==3.0.2.post1
tcmlib==1.4.0
grpc-interceptor==0.15.4
prettytable==3.16.0
sphinxcontrib-applehelp==2.0.0
nbformat==5.10.4
xarray-einstats==0.9.1
partd==1.4.2
mdurl==0.1.2
pynvjitlink-cu12==0.7.0
portpicker==1.5.2
nest-asyncio==1.6.0
python-utils==3.9.1
pyproj==3.7.2
chardet==5.2.0
opentelemetry-exporter-gcp-monitoring==1.10.0a0
progressbar2==4.5.0
oauth2client==4.1.3
lark==1.3.0
parsy==2.2
opentelemetry-api==1.37.0
torch==2.8.0+cu126
nltk==3.9.1
miniKanren==1.0.5
jsonpointer==3.0.0
PyWavelets==1.9.0
google-cloud-translate==3.22.0
python-dotenv==1.1.1
optax==0.2.6
proto-plus==1.26.1
pyerfa==2.0.1.5
certifi==2025.10.5
oauthlib==3.3.1
pymc==5.26.1
fastprogress==1.0.3
libucxx-cu12==0.44.0
shap==0.49.1
dlib==19.24.6
patsy==1.0.2
grpc-google-iam-v1==0.14.3
stringzilla==4.2.1
urllib3==2.5.0
fonttools==4.60.1
openai==1.109.1
umf==0.11.0
typeguard==4.4.4
alabaster==1.0.0
uvicorn==0.38.0
pydotplus==2.0.2
dask-cuda==25.6.0
nbconvert==7.16.6
pandas-stubs==2.2.2.240909
earthengine-api==1.5.24
geopy==2.4.1
rsa==4.9.1
GDAL==3.8.4
blosc2==3.10.2
pyomo==6.9.5
autograd==1.8.0
filelock==3.20.0
pluggy==1.6.0
scikit-learn==1.6.1
distributed==2025.5.0
shapely==2.1.2
ale-py==0.11.2
cffi==2.0.0
ptyprocess==0.7.0
polars==1.25.2
regex==2024.11.6
google-cloud-discoveryengine==0.13.12
lxml==5.4.0
defusedxml==0.7.1
yfinance==0.2.66
fastjsonschema==2.21.2
PyGObject==3.42.0
pytensor==2.35.1
yellowbrick==1.5
nx-cugraph-cu12==25.6.0
tsfresh==0.21.1
fsspec==2025.3.0
accelerate==1.11.0
tensorflow-datasets==4.9.9
pandocfilters==1.5.1
ply==3.11
logical-unification==0.4.6
google-adk==1.16.0
google-cloud-audit-log==0.4.0
terminado==0.18.1
uc-micro-py==1.0.3
simsimd==6.5.3
docstring_parser==0.17.0
google-cloud-dataproc==5.23.0
hf-xet==1.1.10
pexpect==4.9.0
albumentations==2.0.8
Bottleneck==1.4.2
tifffile==2025.10.16
gradio==5.49.1
py4j==0.10.9.7
orbax-checkpoint==0.11.25
markdown-it-py==4.0.0
PySocks==1.7.1
optree==0.17.0
pandas-datareader==0.10.0
safetensors==0.6.2
aiohttp==3.13.1
build==1.3.0
pytz==2025.2
dask-cudf-cu12==25.6.0
six==1.17.0
matplotlib-inline==0.1.7
sqlparse==0.5.3
psycopg2==2.9.11
cufflinks==0.17.3
numpy==2.0.2
sympy==1.13.3
geopandas==1.1.1
cymem==2.0.11
gin-config==0.5.0
google-api-core==2.26.0
antlr4-python3-runtime==4.9.3
audioread==3.0.1
fastapi==0.119.1
xlrd==2.0.2
PyDrive2==1.21.3
sphinxcontrib-serializinghtml==2.0.0
Werkzeug==3.1.3
huggingface-hub==0.35.3
pyproject_hooks==1.2.0
matplotlib==3.10.0
ipyfilechooser==0.6.0
spacy-loggers==1.0.5
imagesize==1.4.1
torchsummary==1.5.1
opencv-python-headless==4.12.0.88
python-dateutil==2.9.0.post0
pylibcudf-cu12==25.6.0
ipyevents==2.0.4
google-pasta==0.2.0
gspread==6.2.1
h11==0.16.0
debugpy==1.8.15
cyipopt==1.5.0
msgpack==1.1.2
cuda-python==12.6.2.post1
flatbuffers==25.9.23
google-api-python-client==2.185.0
gym-notices==0.1.0
torchaudio==2.8.0+cu126
smmap==5.0.2
nvidia-nvshmem-cu12==3.4.5
watchdog==6.0.0
jieba==0.42.1
multidict==6.7.0
importlib_resources==6.5.2
openpyxl==3.1.5
umap-learn==0.5.9.post2
PyJWT==2.10.1
frozenlist==1.8.0
imageio-ffmpeg==0.6.0
pydantic-settings==2.11.0
google-cloud-bigquery-connection==1.19.0
vega-datasets==0.9.0
bigquery-magics==0.10.3
tornado==6.5.1
grpcio-status==1.71.2
jeepney==0.9.0
langsmith==0.4.37
slicer==0.0.8
astunparse==1.6.3
holidays==0.82
Brotli==1.1.0
altair==5.5.0
google-cloud-datastore==2.21.0
requests==2.32.4
python-slugify==8.0.4
cloudpathlib==0.23.0
folium==0.20.0
arrow==1.4.0
prompt_toolkit==3.0.52
h2==4.3.0
jupyterlab_pygments==0.3.0
keras-hub==0.21.1
gymnasium==1.2.1
betterproto==2.0.0b6
toolz==0.12.1
timm==1.0.20
libcugraph-cu12==25.6.0
ipython==7.34.0
cmdstanpy==1.2.5
tqdm==4.67.1
isoduration==20.11.0
Sphinx==8.2.3
keyrings.google-artifactregistry-auth==1.1.2
treelite==4.4.1
CacheControl==0.14.3
hyperopt==0.2.7
ruff==0.14.1
langchain-text-splitters==0.3.11
librosa==0.11.0
pydata-google-auth==1.9.1
plotnine==0.14.5
pylibcugraph-cu12==25.6.0
arviz==0.22.0
safehttpx==0.1.6
libkvikio-cu12==25.6.0
proglog==0.1.12
blinker==1.9.0
textblob==0.19.0
jax-cuda12-plugin==0.7.2
google-cloud-logging==3.12.1
pyogrio==0.11.1
beartype==0.22.2
jaraco.context==6.0.1
cons==0.4.7
linkify-it-py==2.0.3
sentence-transformers==5.1.1
cvxopt==1.3.2
opentelemetry-semantic-conventions==0.58b0
h5netcdf==1.7.2
kaggle==1.7.4.5
fasttransform==0.0.2
nbclassic==1.3.3
tomlkit==0.13.3
langchain-core==0.3.79
PyOpenGL==3.1.10
Send2Trash==1.8.3
opentelemetry-exporter-gcp-logging==1.10.0a0
semantic-version==2.10.0
cvxpy==1.6.7
langchain==0.3.27
entrypoints==0.4
opentelemetry-exporter-otlp-proto-common==1.37.0
fqdn==1.5.1
transformers==4.57.1
jsonschema-specifications==2025.9.1
pycryptodomex==3.23.0
dill==0.3.8
zstandard==0.25.0
gast==0.6.0
attrs==25.4.0
Flask==3.1.2
spanner-graph-notebook==1.1.8
tensorflow==2.19.0
sqlalchemy-spanner==1.17.0
ydf==0.13.0
mpmath==1.3.0
rapids-logger==0.1.19
torchdata==0.11.0
dataproc-spark-connect==0.8.3
narwhals==2.9.0
mkl==2025.2.0
en_core_web_sm==3.8.0
absolufy-imports==0.3.1
sqlglot==25.20.2
seaborn==0.13.2
greenlet==3.2.4
jax==0.7.2
ratelim==0.1.6
rfc3986-validator==0.1.1
nvidia-cusolver-cu12==11.7.1.2
itsdangerous==2.2.0
sniffio==1.3.1
joblib==1.5.2
nvidia-nvtx-cu12==12.6.77
python-json-logger==4.0.0
google-cloud-trace==1.17.0
python-box==7.3.2
pyasn1==0.6.1
soundfile==0.13.1
opentelemetry-sdk==1.37.0
curl_cffi==0.13.0
pyOpenSSL==24.2.1
atpublic==5.1
jupyter-leaflet==0.20.0
sentencepiece==0.2.1
grpcio==1.75.1
tenacity==8.5.0
nvidia-cufile-cu12==1.11.1.6
holoviews==1.21.0
natsort==8.4.0
wrapt==2.0.0
overrides==7.7.0
namex==0.1.0
etuples==0.3.10
opencv-contrib-python==4.12.0.88
thinc==8.3.6
referencing==0.37.0
keyring==25.6.0
wordcloud==1.9.4
ml_dtypes==0.5.3
types-pytz==2025.2.0.20250809
google-ai-generativelanguage==0.6.15
ipyparallel==8.8.0
uritemplate==4.2.0
Mako==1.3.10
pygame==2.6.1
httpimport==1.4.1
albucore==0.0.24
widgetsnbextension==3.6.10
Authlib==1.6.5
packaging==25.0
pooch==1.8.2
cudf-polars-cu12==25.6.0
notebook==6.5.7
marisa-trie==1.3.1
tensorflow-metadata==1.17.2
pyarrow==18.1.0
plotly==5.24.1
duckdb==1.3.2
cramjam==2.11.0
google-genai==1.45.0
google-cloud-bigtable==2.33.0
GitPython==3.1.45
prophet==1.1.7
libcuvs-cu12==25.6.1
dopamine_rl==4.1.2
xgboost==3.1.0
protobuf==5.29.5
typer==0.20.0
pycocotools==2.0.10
peft==0.17.1
tiktoken==0.12.0
highspy==1.11.0
google-auth-httplib2==0.2.0
community==1.0.0b1
webcolors==24.11.1
wurlitzer==3.1.1
panel==1.8.2
tzlocal==5.3.1
snowballstemmer==3.0.1
gradio_client==1.13.3
shellingham==1.5.4
astropy==7.1.1
argon2-cffi-bindings==25.1.0
termcolor==3.1.0
nvidia-curand-cu12==10.3.7.77
multiprocess==0.70.16
peewee==3.18.2
matplotlib-venn==1.1.2
ipywidgets==7.7.1
easydict==1.13
python-snappy==0.7.3
requests-oauthlib==2.0.0
tf-slim==1.1.0
wasabi==1.1.3
srsly==2.5.1
nvidia-ml-py==12.575.51
networkx==3.5
Jinja2==3.1.6
googledrivedownloader==1.1.0
ucxx-cu12==0.44.0
numba==0.60.0
google-generativeai==0.8.5
hdbscan==0.8.40
diffusers==0.35.2
chex==0.1.90
decorator==4.4.2
aiosignal==1.4.0
babel==2.17.0
rpy2==3.5.17
wcwidth==0.2.14
idna==3.11
opentelemetry-exporter-gcp-trace==1.10.0
ipytree==0.2.2
opentelemetry-resourcedetector-gcp==1.10.0a0
toml==0.10.2
pyasn1_modules==0.4.2
pillow==11.3.0
opentelemetry-proto==1.37.0
parso==0.8.5
gcsfs==2025.3.0
jupyter_server_terminals==0.5.3
colorcet==3.1.0
soupsieve==2.8
PyYAML==6.0.3
Pygments==2.19.2
mlxtend==0.23.4
SecretStorage==3.4.0
numba-cuda==0.11.0
websockets==15.0.1
rpds-py==0.27.1
pandas==2.2.2
pynvml==12.0.0
gdown==5.2.0
google-cloud-core==2.4.3
opencv-python==4.12.0.88
language_data==1.3.0
pyspark==3.5.1
bqplot==0.12.45
httpx-sse==0.4.3
sphinxcontrib-jsmath==1.0.1
google-cloud-functions==1.21.0
nvidia-cuda-cupti-cu12==12.6.80
keras-nlp==0.21.1
flax==0.10.7
gspread-dataframe==4.0.0
fastdownload==0.0.7
multipledispatch==1.0.0
dask==2025.5.0
cachetools==5.5.2
libraft-cu12==25.6.0
SQLAlchemy==2.0.44
jupyter_kernel_gateway==2.5.2
sphinxcontrib-qthelp==2.0.0
future==1.0.0
google-cloud-bigquery==3.38.0
rmm-cu12==25.6.0
sse-starlette==3.0.2
nvidia-cudnn-cu12==9.10.2.21
libcuml-cu12==25.6.0
pylibraft-cu12==25.6.0
starlette==0.48.0
cupy-cuda12x==13.3.0
tensorboard-data-server==0.7.2
google-cloud-language==2.18.0
nibabel==5.3.2
torchvision==0.23.0+cu126
simplejson==3.20.2
dm-tree==0.1.9
blis==1.3.0
torchtune==0.6.1
sklearn-pandas==2.2.0
imageio==2.37.0
text-unidecode==1.3
mizani==0.13.5
pydot==3.0.4
rich==13.9.4
google-cloud-secret-manager==2.25.0
pygit2==1.18.2
soxr==1.0.0
einops==0.8.1
pyparsing==3.2.5
db-dtypes==1.4.3
nbclient==0.10.2
rfc3987-syntax==1.1.0
mistune==3.1.4
tensorflow-hub==0.16.1
cmake==3.31.6
aiofiles==24.1.0
pydantic_core==2.33.2
httplib2==0.31.0
pyperclip==1.11.0
immutabledict==4.2.2
roman-numerals-py==3.1.0
scikit-image==0.25.2
pickleshare==0.7.5
ibis-framework==9.5.0
jupyter-events==0.12.0
intel-openmp==2025.2.1
fastai==2.8.4
zict==3.0.0
gym==0.25.2
spacy==3.8.7
bokeh==3.7.3
jupyter-console==6.6.3
opt_einsum==3.4.0
jsonschema==4.25.1
cycler==0.12.1
osqp==1.0.5
wheel==0.45.1
catalogue==2.0.10
propcache==0.4.1
spacy-legacy==3.0.12
MarkupSafe==3.0.3
python-apt==0.0.0
distro==1.7.0
importlib-metadata==4.6.4
PyGObject==3.42.1
pyparsing==2.4.7
blinker==1.4
PyJWT==2.3.0
httplib2==0.20.2
python-apt==2.4.0+ubuntu4
keyring==23.5.0
SecretStorage==3.3.1
launchpadlib==1.10.16
jeepney==0.7.1
six==1.16.0
lazr.restfulclient==0.14.4
cryptography==3.4.8
dbus-python==1.2.18
zipp==1.0.0
oauthlib==3.2.0
wadllib==1.3.6
more-itertools==8.10.0
lazr.uri==1.0.6
Mako==1.1.3
MarkupSafe==2.0.1
Markdown==3.3.6
jaraco.text==3.12.1
backports.tarfile==1.2.0
wheel==0.43.0
typing_extensions==4.12.2
zipp==3.19.2
platformdirs==4.2.2
autocommand==2.2.2
jaraco.functools==4.0.1
inflect==7.3.1
jaraco.context==5.3.0
more-itertools==10.3.0
importlib_resources==6.4.0
typeguard==4.3.0
importlib_metadata==8.0.0
jaraco.collections==5.1.0
packaging==24.1
tomli==2.0.1
